name: Validate Extension

on: [push, pull_request]

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install ESLint
        run: npm install eslint@8.57.0 -g
      - name: Run ESLint
        run: eslint . --ext .js
